header img {
  width: 200px;
}

.header-nav {
  float: right;
}

.header-nav ul li {
  display: inline;
  padding: 20px;
  margin: 20px;
  border: 4px solid blue
}

h1 {
  text-align: center;
  background:  red;
  color: black
}

main img {
  width:300px;

}

footer {
  text-align: center;
  font-size: 40px;
  color: yellow
}
